Source: cosmic-app-library-ime
Section: admin
Priority: optional
Maintainer: KENZ <KENZ.gelsoft@gmail.com>
Build-Depends:
  debhelper (>= 11),
  debhelper-compat (= 11),
  rust-all,
  pkg-config,
  libxkbcommon-dev,
  libwayland-dev,
#  just,
Standards-Version: 4.3.0
Homepage: https://github.com/pop-os/cosmic-app-library

Package: cosmic-app-library-ime
Architecture: amd64 arm64
Depends:
  ${misc:Depends},
  ${shlibs:Depends}
Conflicts: cosmic-app-library
Replaces: cosmic-app-library
Provides: cosmic-app-library
Description: Cosmic App Library
