Source: cosmic-term-ime
Section: admin
Priority: optional
Maintainer: KENZ <KENZ.gelsoft@gmail.com>
Build-Depends:
    debhelper-compat (=13),
    git,
    just (>= 1.13.0),
    pkg-config,
    rust-all,
    libxkbcommon-dev,
Standards-Version: 4.6.2
Homepage: https://github.com/kenz-gelsoft/cosmic-term

Package: cosmic-term-ime
Architecture: amd64 arm64
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: cosmic-term
Replaces: cosmic-term
Provides: x-terminal-emulator, cosmic-term
Description: COSMIC Terminal
