Source: cosmic-edit-ime
Section: admin
Priority: optional
Maintainer: KENZ <KENZ.gelsoft@gmail.com>
Build-Depends:
    debhelper-compat (=13),
    git,
    pkg-config,
    libglib2.0-dev,
    libxkbcommon-dev,
    rust-all,
#    just (>= 1.13.0),
Standards-Version: 4.6.2
Homepage: https://github.com/kenz-gelsoft/cosmic-edit

Package: cosmic-edit-ime
Architecture: amd64 arm64
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: cosmic-edit
Replaces: cosmic-edit
Provides: cosmic-edit
Description: Cosmic Text Editor
