# .github/workflows/build.yml
name: Build
on: [push]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-all:
    # archがarm64の場合はarm専用ランナー、それ以外はlatest(x86)を使用
    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    strategy:
      fail-fast: false
      matrix:
        # アプリケーションとアーキテクチャを組み合わせる
        arch: [amd64, arm64]
        id: [files, edit, term]
        include:
          - id: files
            name: cosmic-files
            repo: pop-os/cosmic-files
            ref: epoch-1.0.0
            patch: |
              cat <<EOF >> Cargo.toml
              [patch.'https://github.com/pop-os/libcosmic']
              libcosmic = { git = "https://github.com/kenz-gelsoft/libcosmic.git", branch = "backport-input-method2" }
              EOF

          - id: edit
            name: cosmic-edit
            repo: kenz-gelsoft/cosmic-edit
            ref: backport-input-method
            patch: ""

          - id: term
            name: cosmic-term
            repo: kenz-gelsoft/cosmic-term
            ref: backport-input-method
            patch: ""

    name: Build ${{ matrix.name }} (${{ matrix.arch }})
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4
        with:
          path: 'build'

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          # ARM64時はターゲットを追加
          targets: ${{ matrix.arch == 'arm64' && 'aarch64-unknown-linux-gnu' || '' }}

      - name: Build Component
        uses: ./build/.github/actions/build-cosmic
        with:
          app_name: ${{ matrix.name }}
          repository: ${{ matrix.repo }}
          ref: ${{ matrix.ref }}
          cargo_patch: ${{ matrix.patch }}
          arch: ${{ matrix.arch }} # アーキテクチャを渡す

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          # アーティファクト名にアーキテクチャを含める
          name: ${{ matrix.name }}-${{ matrix.arch }}-package
          path: dist/