# .github/workflows/build.yml
name: Build
on: [push]

env:
  CARGO_TERM_COLOR: always
  CARGO_HOME: ${{ github.workspace }}/.cargo

jobs:
  build-all:
    runs-on: ubuntu-latest
    strategy:
      # 片方が失敗しても、もう片方のビルドを続行させる
      fail-fast: false
      matrix:
        include:
          - id: files
            name: cosmic-files
            repo: pop-os/cosmic-files
            ref: epoch-1.0.0
            patch: |
              cat <<EOF >> cosmic-files/Cargo.toml
              [patch.'https://github.com/pop-os/libcosmic']
              libcosmic = { git = "https://github.com/kenz-gelsoft/libcosmic.git", branch = "backport-input-method2" }
              EOF

          - id: edit
            name: cosmic-edit
            repo: kenz-gelsoft/cosmic-edit
            ref: backport-input-method
            patch: "" # editはパッチ不要

          - id: term
            name: cosmic-term
            repo: kenz-gelsoft/cosmic-term
            ref: backport-input-method
            patch: "" # termはパッチ不要

    name: Build ${{ matrix.name }}
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build Component
        uses: ./.github/actions/build-cosmic
        with:
          app_name: ${{ matrix.name }}
          repository: ${{ matrix.repo }}
          ref: ${{ matrix.ref }}
          cargo_patch: ${{ matrix.patch }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.name }}-package
          path: dist/*
