Source: cosmic-launcher-ime
Section: admin
Priority: optional
Maintainer: KENZ <KENZ.gelsoft@gmail.com>
Build-Depends:
  debhelper (>= 11),
  debhelper-compat (= 11),
  rustc (>=1.63),
  cargo,
  just,
  intltool,
  libxkbcommon-dev,
  libwayland-dev,
  pkg-config,
Standards-Version: 4.3.0
Homepage: https://github.com/pop-os/cosmic-launcher

Package: cosmic-launcher
Architecture: amd64 arm64
Depends:
  ${misc:Depends},
  ${shlibs:Depends},
  pop-launcher,
Conflicts: cosmic-launcher
Replaces: cosmic-launcher
Provides: cosmic-launcher
Description: Cosmic Launcher
